{% extends 'layout.html' %}

{% block css %}
    <link href="static/css/home.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <form action="http://localhost:5000/login" method="post">
        <h1 class="a11y-hidden">Login Form</h1>
        <div>
            <label class="label-username">
                <input type="text" class="text" name="username" placeholder="Username" tabindex="1" required/>
                <span class="required">Username</span>
            </label>
        </div>

        <input type="submit" value="Log In"/>
        <figure aria-hidden="true">
            <div class="person-body"></div>
            <div class="neck skin"></div>
            <div class="head skin">
                <div class="eyes"></div>
                <div class="mouth"></div>
            </div>
            <div class="hair"></div>
            <div class="ears"></div>
            <div class="shirt-1"></div>
            <div class="shirt-2"></div>
        </figure>
    </form>
{% endblock %}